.row {
    padding-top:10px;
    text-align:center;
    font-family: Monospace;
}
.center {
    text-align: center;
}
.song-image {
	width: 6rem;
}

body {
    position : relative;
    text-align : center;
    z-index : 1;
    background-color: #2C3E50;
    color: white;
}

#badMovies, #goodMovies {
    font-family: Monospace;
}

